@using EasyForm.Enum
@using EasyForm.ViewModel;
@using Newtonsoft.Json
@model ApplicationPartsVm

@{
    ViewData["Title"] = "Modify Application";
    var form = ViewData.Model;
}

<div>
    <div class="accordion" id="accordionExample">
        @for (int i = 0; i < form.Parts.Count; i++)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@i.ToString()" aria-expanded="false" aria-controls="flush-@i.ToString()">
                        @form.Parts[i].Title

                        @if (form.Parts[i].IsCompleted == true)
                        {
                            <i class="fa fa-check text-success" style="margin: 0 12px"></i>
                        }
                        else
                        {
                            <i class="fa fa-times text-danger" style="margin: 0 12px"></i>
                        }

                    </button>
                </h2>
                <div id="flush-@i.ToString()" class="accordion-collapse collapse pt-4" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="container-fluid row">
                        @for (var j = 0; j < form.Parts[i].Questions.Count; j++)
                        {
                            @if (form.Parts[i].Questions[j].Type == QuestionType.TextBox)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="@form.Parts[i].Questions[j].Text" class="form-label">
                                        @form.Parts[i].Questions[j].Number .
                                        @form.Parts[i].Questions[j].Text
                                        @if (form.Parts[i].Questions[j].IsRequierd)
                                        {
                                            <small class="font-10">
                                                <i class="fa fa-asterisk text-danger"></i>
                                            </small>
                                        }
                                    </label>
                                    <input type="text" class="form-control" id="@form.Parts[i].Questions[j].Text@form.Parts[i].Questions[j].QuestionId.ToString()" value="@form.Parts[i].Questions[j].Answer" />
                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.DropDown)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="@form.Parts[i].Questions[j].Text" class="form-label">
                                        @form.Parts[i].Questions[j].Number .
                                        @form.Parts[i].Questions[j].Text
                                        @if (form.Parts[i].Questions[j].IsRequierd)
                                        {
                                            <small class="font-10">
                                                <i class="fa fa-asterisk text-danger"></i>
                                            </small>
                                        }
                                    </label>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-secondary dropdown-toggle w-50 text-left d-flex justify-content-between align-items-center" type="button" id="@form.Parts[i].Questions[j].Text@form.Parts[i].Questions[j].QuestionId" data-bs-toggle="dropdown" aria-expanded="false">
                                            pick up
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="@form.Parts[i].Questions[j].Text">
                                            @for (var k = 0; k < form.Parts[i].Questions[j].Items.Count; k++)
                                            {
                                                <li onclick="onSelectDropdown(@(JsonConvert.SerializeObject(form.Parts[i].Questions[j].Text)), @(JsonConvert.SerializeObject(form.Parts[i].Questions[j].QuestionId)), @(JsonConvert.SerializeObject(form.Parts[i].Questions[j].Items[k].Title)))"><p class="dropdown-item" id="@form.Parts[i].Questions[j].Items[k].Title@form.Parts[i].Questions[j].Items[k].Id">@form.Parts[i].Questions[j].Items[k].Title</p></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.Numeric)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="@form.Parts[i].Questions[j].Text" class="form-label">
                                        @form.Parts[i].Questions[j].Number .
                                        @form.Parts[i].Questions[j].Text
                                        @if (form.Parts[i].Questions[j].IsRequierd)
                                        {
                                            <small class="font-10">
                                                <i class="fa fa-asterisk text-danger"></i>
                                            </small>
                                        }
                                    </label>
                                    <input type="number" class="form-control" id="@form.Parts[i].Questions[j].Text@form.Parts[i].Questions[j].QuestionId.ToString()" value="@form.Parts[i].Questions[j].Answer" />
                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.TextNumeric)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="@form.Parts[i].Questions[j].Text" class="form-label">
                                        @form.Parts[i].Questions[j].Number .
                                        @form.Parts[i].Questions[j].Text
                                        @if (form.Parts[i].Questions[j].IsRequierd)
                                        {
                                            <small class="font-10">
                                                <i class="fa fa-asterisk text-danger"></i>
                                            </small>
                                        }
                                    </label>
                                    <input type="number" class="form-control" id="@form.Parts[i].Questions[j].Text@form.Parts[i].Questions[j].QuestionId.ToString()" value="@form.Parts[i].Questions[j].Answer" />
                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.Table1)
                            {
                                <div class"mb-3 col-12">
                                    <table class="table w-100">
                                        <thead>
                                            <tr>
                                                <th scope="col">Benefit Received</th>
                                                <th scope="col">Start Date</th>
                                                <th scope="col">End Date</th>
                                                <th scope="col">Dollar Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.Table2)
                            {
                                <div class="mb-3 col-12">
                                    <table class="table w-100">
                                        <thead>
                                            <tr>
                                                <th scope="col">Institution Name/City/State</th>
                                                <th scope="col">Date From</th>
                                                <th scope="col">Date To</th>
                                                <th scope="col">Reason</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.OptionBox)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="@form.Parts[i].Questions[j].Text" class="form-label">
                                        @form.Parts[i].Questions[j].Number .
                                        @form.Parts[i].Questions[j].Text
                                        @if (form.Parts[i].Questions[j].IsRequierd)
                                        {
                                            <small class="font-10">
                                                <i class="fa fa-asterisk text-danger"></i>
                                            </small>
                                        }
                                    </label>
                                    @for (var k = 0; k < form.Parts[i].Questions[j].Items.Count; k++)
                                    {
                                        @if (form.Parts[i].Questions[j].Items[k].IsChecked == false)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="@form.Parts[i].Questions[j].Text" id="@form.Parts[i].Questions[j].Items[k].Title">
                                                <label class="form-check-label" for="@form.Parts[i].Questions[j].Items[k].Title">
                                                    @form.Parts[i].Questions[j].Items[k].Title
                                                </label>
                                            </div>
                                        }
                                        @if (form.Parts[i].Questions[j].Items[k].IsChecked == true)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="@form.Parts[i].Questions[j].Text" id="@form.Parts[i].Questions[j].Items[k].Title" checked>
                                                <label class="form-check-label" for="@form.Parts[i].Questions[j].Items[k].Title">
                                                    @form.Parts[i].Questions[j].Items[k].Title
                                                </label>
                                            </div>
                                        }

                                    }

                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.CheckBox)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="@form.Parts[i].Questions[j].Text" class="form-label">
                                        @form.Parts[i].Questions[j].Number .
                                        @form.Parts[i].Questions[j].Text
                                        @if (form.Parts[i].Questions[j].IsRequierd)
                                        {
                                            <small class="font-10">
                                                <i class="fa fa-asterisk text-danger"></i>
                                            </small>
                                        }
                                    </label>
                                    @for (var k = 0; k < form.Parts[i].Questions[j].Items.Count; k++)
                                    {

                                        @if (form.Parts[i].Questions[j].Items[k].IsChecked == false)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="@form.Parts[i].Questions[j].Items[k].Title@form.Parts[i].Questions[j].Items[k].Id">
                                                <label class="form-check-label" for="@form.Parts[i].Questions[j].Items[k].Title">
                                                    @form.Parts[i].Questions[j].Items[k].Title
                                                </label>
                                            </div>
                                        }
                                        @if (form.Parts[i].Questions[j].Items[k].IsChecked == true)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="@form.Parts[i].Questions[j].Items[k].Title@form.Parts[i].Questions[j].Items[k].Id" checked>
                                                <label class="form-check-label" for="@form.Parts[i].Questions[j].Items[k].Title">
                                                    @form.Parts[i].Questions[j].Items[k].Title
                                                </label>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.Date)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="@form.Parts[i].Questions[j].Text" class="form-label">
                                        @form.Parts[i].Questions[j].Number .
                                        @form.Parts[i].Questions[j].Text
                                        @if (form.Parts[i].Questions[j].IsRequierd)
                                        {
                                            <small class="font-10">
                                                <i class="fa fa-asterisk text-danger"></i>
                                            </small>
                                        }
                                    </label>
                                    <input type="date" placeholder="..." class="form-control" id="@form.Parts[i].Questions[j].Text@form.Parts[i].Questions[j].QuestionId" value="@form.Parts[i].Questions[j].Answer" />
                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.Boolean)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <label for="@form.Parts[i].Questions[j].Text" class="form-label">
                                        @form.Parts[i].Questions[j].Number .
                                        @form.Parts[i].Questions[j].Text
                                        @if (form.Parts[i].Questions[j].IsRequierd)
                                        {
                                            <small class="font-10">
                                                <i class="fa fa-asterisk text-danger"></i>
                                            </small>
                                        }
                                    </label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="@form.Parts[i].Questions[j].Text" id="@form.Parts[i].Questions[j].Text@form.Parts[i].Questions[j].QuestionId-yes">
                                        <label class="form-check-label" for="@form.Parts[i].Questions[j].Text + '-yes'">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="@form.Parts[i].Questions[j].Text" id="@form.Parts[i].Questions[j].Text-no">
                                        <label class="form-check-label" for="@form.Parts[i].Questions[j].Text + '-no'">
                                            No
                                        </label>
                                    </div>

                                </div>
                            }
                            @if (form.Parts[i].Questions[j].Type == QuestionType.Note)
                            {
                                <div class="mb-3 col-12 col-md-6">
                                    <p> @form.Parts[i].Questions[j].Number . @form.Parts[i].Questions[j].Text</p>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="w-100 d-flex justify-content-center my-3 px-3">
        <button class="btn btn-primary" id="saveForm" onclick="doFunction(@(JsonConvert.SerializeObject(form)));">
            Update
        </button>
    </div>
</div>



<style>
    .font-10 {
        font-size: 10px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        spinnerHide();
    });

    function onSelectDropdown(questionTitle, questionId, itemTitle) {
        document.getElementById(questionTitle + questionId).innerHTML = itemTitle;
    }

     function doFunction(form) {
        var answerList = [];
        var userAplicationId = form.UserApplicationId;
        var parts = form.Parts;
        for(var i = 0; i < parts.length; i++) {
            for(var j = 0; j < parts[i].Questions.length; j++) {
                var question = parts[i].Questions[j];
                switch(question.Type) {
                    case 0:
                    var questtionElementValue = (document.getElementById(question.Text + question.QuestionId.toString())).value;
                    if(question.IsRequierd == true && !questtionElementValue) {
                        break;
                    } else if (questtionElementValue.length) {
                        var answer = {
                            QuestionId: question.QuestionId,
                            UserApplicationId: userAplicationId,
                            Text: questtionElementValue
                        }
                        answerList.push(answer);
                        break;
                    } else {
                        break;
                    }
                    case 1:
                    var text = document.getElementById(question.Text + question.QuestionId).innerText;
                    if(text) {
                        const item = question.Items.find(item => item.Title === text);
                        if(question.IsRequierd == true && !item) {
                            break;
                        } else {
                            if(item ) {
                            var answer = {
                                QuestionId: question.QuestionId,
                                UserApplicationId: userAplicationId,
                                Text: item.Id.toString()
                            }
                            answerList.push(answer);
                            break;
                            }else {
                                break;
                            }
                    }
                    } else {
                        break;
                    }

                    case 2:
                    var questtionElementValue = (document.getElementById(question.Text + question.QuestionId.toString())).value;
                    if(question.IsRequierd == true && !questtionElementValue) {
                        break;
                    } else if (questtionElementValue.length) {
                        var answer = {
                            QuestionId: question.QuestionId,
                            UserApplicationId: userAplicationId,
                            Text: questtionElementValue
                        }
                        answerList.push(answer);
                        break;
                    } else {
                        break;
                    }

                    case 3:
                    var questtionElementValue = (document.getElementById(question.Text + question.QuestionId.toString())).value;
                    if(question.IsRequierd == true && !questtionElementValue) {
                        break;
                    } else if (questtionElementValue.length) {
                        var answer = {
                            QuestionId: question.QuestionId,
                            UserApplicationId: userAplicationId,
                            Text: questtionElementValue
                        }
                        answerList.push(answer);
                        break;
                    } else {
                        break;
                    }

                    case 6:
                    var text = '';
                    for(var k = 0; k < question.Items.length; k++) {
                        var checkbox = document.getElementById(question.Items[k].Title + question.Items[k].Id);
                        if (checkbox.checked) {
                            text = text + question.Items[k].Id + ',';
                        }
                    }
                    if(question.IsRequierd == true && !text.length){
                        break;
                    } else if(text.length) {
                         var answer = {
                            QuestionId: question.QuestionId,
                            UserApplicationId: userAplicationId,
                            Text: text.substring(0,text.length - 1)
                        }
                        answerList.push(answer);
                        break;
                    } else {
                        break;
                    }

                    case 7:
                    var text = '';
                    for(var k = 0; k < question.Items.length; k++) {
                        var checkbox = document.getElementById(question.Items[k].Title + question.Items[k].Id);
                        if (checkbox.checked) {
                            text = text + question.Items[k].Id + ',';
                        }
                    }
                    if(question.IsRequierd == true && !text.length){
                        break;
                    } else if(text.length) {
                         var answer = {
                            QuestionId: question.QuestionId,
                            UserApplicationId: userAplicationId,
                            Text: text.substring(0,text.length - 1)
                        }
                        answerList.push(answer);
                        break;
                    } else {
                        break;
                    }
                    case 8:
                    var questtionElementValue = (document.getElementById(question.Text + question.QuestionId.toString())).value;
                    if(question.IsRequierd == true && !questtionElementValue) {
                        break;
                    } else if (questtionElementValue.length) {
                        var answer = {
                            QuestionId: question.QuestionId,
                            UserApplicationId: userAplicationId,
                            Text: questtionElementValue
                        }
                        answerList.push(answer);
                        break;
                    } else {
                        break;
                    }

                    case 9:
                    var trueElement = document.getElementById(question.Text + question.QuestionId + '-yes').checked;
                    if(trueElement){
                        var answer = {
                            QuestionId: question.QuestionId,
                            UserApplicationId: userAplicationId,
                            Text: 'true'
                        };
                        answerList.push(answer);
                        break;
                    } else {
                        var answer = {
                            QuestionId: question.QuestionId,
                            UserApplicationId: userAplicationId,
                            Text: 'false'
                        };
                        answerList.push(answer);
                        break;
                    }
                    default:
                        break;
                }
            }
        }
        $.ajax({
        type: 'POST',
        url: '@Url.Action("AnswerAsync", "Home")',
        dataType: 'json',
        cache: false,
        contentType: 'application/json',
        data: JSON.stringify(answerList),
        });
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {
        spinnerHide();
        var getValue = $('#tempData').val();
        if (getValue != '') {
            displayToaster(getValue);
        };
    });

</script>